/db.sqlite3
api/__pycache__/
api_message/__pycache__/
api_message/migrations/__pycache__/
/api/db.sqlite3
/api/media/pictures/20/03/16/Asignar_metodología.png
/api/media/pictures/20/03/16/Asignar_metodología_fBUGeeD.png
/api/media/pictures/20/03/16/Cuadro_Sinóptico.png
